body {
    /* background-image: url("../images/background.png"); */
    /* min-height: 100vh; */
    height: auto;
    display: flex;
    flex-direction: column;
    /* background-image: url("../images/background2.png"); */
    background-repeat: no-repeat;
    background-color: #f5c0c0;
    background-image: linear-gradient(62deg, #f5c0c0 0%, #f9e698 49%, #fbf6f6 100%);
  
  }

  .responsive {
    width: 100%;
    height: auto;
  }
  


.card {
    position: sticky;
    top: 0;
    display: flex;
    padding: 1% 4%;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    opacity: 1;
    z-index: 5;
    font-size: 20pt;
    /* border-bottom: 1px solid rgb(74, 130, 175); */

    margin: 2%;
    /* border:1pc solid rgb(74, 130, 175); */
    border-radius: 15px;

    box-shadow: 0 0 1px #dbc927,
        0 0 5px #dbc927;
}

.btn {
  font-size: 12pt;
  padding: 15px;
  
}

