.responsive {
    width: 100%;
    height: auto;
  }

  body {
  /* background-image: url("../images/background.png"); */
  /* min-height: 100vh; */
  /* height: auto;
  width: 100%;
  display: flex;
  flex-direction: column; */
  /* background-image: url("../images/background2.png"); */
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(62deg, #f5c0c0 0%, #f9e698 49%, #fbf6f6 100%); */

  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(62deg, #f5c0c0 0%, #f9e698 49%, #fbf6f6 100%);
  background-position: center;
  background-size: cover;
  position: relative;
}

p {
    font-size: 10pt;
}

h1 {
    font-size: 12pt;
}

/* button css */
#login_btn {
    padding: 30px;
    margin-bottom: auto;
}

.btn_login {
    border: double 5px transparent;
    background-color: #FF6653; /*#FF8575*/
    width: 11rem;
    height: 3rem;
    border-radius: 2rem;
    box-shadow: 0 0 5px #FF3300,
    0 0 25px #FF3300;
	color: floralwhite;
}
  
button:hover {
    box-shadow: 0 0 5px #FF3300,
    0 0 15px #FF3300, 0 0 30px #FF3300,
    0 0 50px #FF3300, 0 0 100px #FF3300;
}