.responsive {
  width: 100%;
  height: auto;
}

body {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
    62deg,
    #f5c0c0 0%,
    #f9e698 49%,
    #fbf6f6 100%
  );
  background-position: center;
  background-size: cover;
  position: relative;
}

p {
  font-size: 10pt;
}

h1 {
  font-size: 12pt;
}

/* button css */
#login_btn {
  padding: 30px;
  margin-bottom: auto;
}

.btn_login {
  border: double 5px transparent;
  background-color: #ff6653; /*#FF8575*/
  width: 11rem;
  height: 3rem;
  border-radius: 2rem;
  box-shadow: 0 0 5px #ff3300, 0 0 25px #ff3300;
  color: floralwhite;
}

button:hover {
  box-shadow: 0 0 5px #ff3300, 0 0 15px #ff3300, 0 0 30px #ff3300,
    0 0 50px #ff3300, 0 0 100px #ff3300;
}
