/* .header {
    margin: 2%;
    padding: 10px, 15px;
    text-align: center;
} */

/* h3{
    font-size: 28px;
}

p {
    margin: 2%;
    font-size: 20px;
}
.container {
    padding: unset;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.first,
.second,
.thrid {
    flex: 1 1 30%;
    margin: 10px;
} */

/* .fourth,
.fifth {
    flex: 1 1 40%;
    margin: 10px;
} */

/* @media (max-width: 767px) {

    .first,
    .second,
    .thrid,
    .fourth,
    .fifth {
        flex: 1 1 100%;
        margin: 10px 0;
    }
} */

/* .container {
    margin: unset;
} */

.container h2 {
    position: absolute;
    text-align: center;
    font-size: 35px;
    z-index: 10;
    color: black;
    font-weight: bold;
    /* top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.header h1 {
    font-size: 40px;
    font-weight: bold;
    z-index: 10;
    color: black;
    font-weight: bold;
    /* top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

/* .header p {
    font-size: 25px;
} */


/* .container h1 {
    margin: 2%;
    text-align: center;
} */

.first,
.second,
.thrid,
.fourth,
.fifth {
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-color: 1px solid rgba(254, 215, 102, 0.7);
    /* left: 70px; */
    border-color: black;
}

.first-image {
    /* background-image: linear-gradient(to bottom, rgba(237, 237, 242, 0.7) 40%, rgba(173, 173, 237, 0.4) 60%),  url(/images/fraser_map.png); */
    background-color: white;
    height: 43vh;
    width: 95%;
    background-size: cover;
    font-size: 60px;
    margin-right: 10px;
    margin-left: 5px;
    transition: 0.5s;
    background-position: center;
    /* background-position: right 5%; */
    /* background-size: 100%;  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
    border-radius: 10px;


}

.second-image {
    background-color: white;
    height: 43vh;
    width: 95%;
    background-size: cover;
    font-size: 60px;
    margin-left: 5px;
    margin-right: 10px;
    transition: 0.5s;
    background-position: center;
    /* background-position: right 5%; */
    /* background-size: 100%;  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
    border-radius: 10px;

}

.thrid-image {
    background-color: white;
    height: 43vh;
    width: 95%;
    background-size: cover;
    font-size: 60px;
    margin-left: 5px;
    margin-right: 10px;
    transition: 0.5s;
    background-position: center;
    /* background-position: right 5%; */
    /* background-size: 100%;  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
    border-radius: 10px;

}


.fourth-image {
    background-color: white;
    height: 43vh;
    width: 95%;
    background-size: cover;
    font-size: 60px;
    margin-left: 5px;
    margin-right: 10px;
    transition: 0.5s;
    background-position: center;
    /* background-position: right 5%; */
    /* background-size: 100%;  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

/* .first:hover,
.second:hover,
.thrid:hover,
.fourth:hover 
.fifth:hover {
    transform: scale(1.01);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

} */



.fifth-image {
    background-color: white;
    height: 43vh;
    width: 95%;
    background-size: cover;
    font-size: 60px;
    margin-left: 5px;
    margin-right: 10px;
    transition: 0.5s;
    background-position: center;
    /* background-position: right 5%; */
    /* background-size: 100%;  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
    border-radius: 10px;

}

.hero-btn {
    /* display: inline-block;
    text-decoration: none;
    color: white;
    /* border: 1px solid #300707; */
    /* padding: 12px 34px;
    font-size: 20px;
    font-weight: bold;
    background: rgb(160, 61, 61);
    position: relative;
    
    border-radius: 5px; 
    bottom: 10px */
    border: double 5px transparent;
    background-color: #FF6653;
    width: 13rem;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    height: 3rem;
    border-radius: 2rem;
    box-shadow: 0 0 5px #FF3300,
        0 0 25px #FF3300;
    color: floralwhite;
    bottom: 10px;
    cursor: pointer;
    margin-bottom: 5px;
}


.hero-btn:hover {
    /* border: white;
    background: rgb(74, 130, 175);
    color: white;
    transition: 0.5s; */
    color: floralwhite;
    box-shadow: 0 0 5px #FF3300,
        0 0 5px #FF3300, 0 0 15px #FF3300,
        0 0 30px #FF3300;
}

.content {
    display: none;
}

.first img {
    width: 270px;
    height: 100px;
}

.second img,
.thrid img {
    width: 250px;
    height: 120px;
}


.fourth img {
    width: 250px;
    height: 150px;
}

.fifth img {
    width: 240px;
    height: 160px;
}