.navbar {
  height: 120px;
  /* adjust the height value as needed */
  background-color: #fcfcfc;
  color: #ce7d27;
  display: flex;
  justify-content: space-between; /* distribute space evenly between links */
  align-items: center; 
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;

}

.navbar li {
  display:space-between;

}

.navbar li:last-child {
  margin-right: 0;
}

/* .navbar a {
  color: #fff;
  text-decoration: none;
} */


.navbar-brand {

  font-size: 30px;
  padding-top: 0.6%;

}

#navbarNav a {
  color: #ce7d27;
  font-size: 24px;

}

#navbarNav a:hover {
  color: rgb(44, 44, 6);
}

