nav {
    position: sticky;
    top: 0;
    display: flex;
    padding: 0.5% 4%;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    opacity: 1;
    z-index: 5;
    /* border-bottom: 1px solid rgb(74, 130, 175); */

    margin: 2%;
    /* border:1pc solid rgb(74, 130, 175); */
    border-radius: 10px;

    box-shadow: 0 0 5px #FF3300,
    0 0 25px #FF3300;
}

nav #logo {
    width: 130px;
    height: 100px;

}

nav #i1,
nav #i2 {
    width: 30px;
    height: 30px;
    padding: 5px;
    border: 2px solid #FF3300;
    /* display: none; */
    cursor: pointer;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 10px;
    position: relative;
    text-decoration: none;
}

.nav-links ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(74, 130, 175);
    display: block;
    margin: auto;
    transition: 0.2s;
    /* cursor:pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0); */
}


.nav-links ul li:hover:after {
    width: 100%;
}

.nav-links ul li a {
    color: #FF6653;
    text-decoration: none;
    font-size: 22px;
}

@media only screen and (max-width: 700px) {

    .nav-links ul li {
        display: block;
        color: unset;
        /* width: auto; */
    }

    .nav-links {
        position: absolute;
        background: #ae5246;
        height: 65vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        color: white;
        opacity: 1;
    }

    nav #i2 {
        display: block;
    }

    nav #i1 {
        display: block;
        margin: 10px;
        padding: 5px;
        border: 2px solid white;
    }

    .nav-links ul {
        padding: 30px;
    }

    .nav-links ul li a {
        color: white;
        text-align: center;
    }

    .nav-links ul li::after {
        content: '';
        width: 0%;
        height: 2px;
        background: white;
        display: block;
        margin: auto;
        transition: 0.2s;
    }

}