
/*-------------------------------------
 * customize material design icon sizes 
 *-------------------------------------
 */

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.responsive {
    width: 100%;
    height: auto;
  }

body {
  background-color: #fab761;
  background-image: linear-gradient(180deg, #fab761 0%, #f74b1c 100%);
}
