
/*-------------------------------------
 * customize material design icon sizes 
 *-------------------------------------
 */
/* 
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
*/

/* button is in image */
.responsive {
    width: 100%;
    height: auto;
  } 

body {
  background-image: url("../images/background2.png");
} 
